
/*nomencaltura: elemento-sitio
boton-entrar
div-exterior

*/


/*identificacion--------------------------------*/


.boton-aplicacion{
background-color: #4169E1 !important;
border-radius: 50px !important;
font-weight: bold !important;
}

.columna-identificacion{
  background-color: #FFFFFF;
  border-radius:20px;
}

.contenedor-identificacion{
  padding-top:170px;
  padding-bottom:170px;
}

.div-exterior{
  background-repeat: no-repeat;
  background-size: cover;
  
  background:linear-gradient(90deg,rgba(117, 103, 243, 0.767) 0%,rgba(66, 53, 179, 0.754) 29%, rgba(17, 5, 179, 0.726) 100%),url("./imagenes/codigo.jpg");
}

.imagen-icono{
  width:  60px;
    height: 60px;
    object-fit: cover;
}

.alerta{
  color:red;
}

/*registro----------------------*/

.fila-registro{

  background-color: #4169E1;
  border-radius: 20px;
  color:white;
  
}

.container-registro-decision{
  margin-top: 100px;
}

.container-areas{
  margin-top: 100px;
}

.div-area-seleccion{
  padding:10px;
  

}

.interior-div-area-seleccion{
  background-color: #FFFFFF;
  padding:10px;
  border-radius: 10px;
}

.fila-area-seleccion{
  background-color: #87CEFA;
  padding:10px;
  border-radius: 20px;
}


.icono{
  color:red;
}


/*principal-------------------*/

.navbar-principal{
  background-color: #87CEFA;
}

.boton-principal{
  background-color: #4169E1;
  border-radius: 50px;
  color:#FFFFFF !important;
  font-weight:bold !important;
  display:block;
  
}

.imagen-banner{
  width:  450px;
    height: 450px;
    object-fit: cover;
}

.imagen-compania{
  width:  250px;
    height: 150px;
    object-fit: cover;
}
.div-interior-imagen{
  background-color: #FFFFFF;
  height:100%;
  width:100%;

}

.h1-banner{
  font-size:50px;
}

.div-exterior-azul{
  background-color: #87CEFA;
  margin-top:50px;
  padding-top:100px;
  padding-bottom:100px;
}

.icono-principal{
  font-size:80px;
}

.col-principal-cartas{
  padding:10px;
  background-color: #87CEFA;
  border-radius:20px;

}

.container-principal-fin{
padding-bottom: 100px;
}


/*vistaUsuario-------------*/

.icono-vistaUsuario{
  font-size:60px;
}

.div-descripcion-usuario{
  background-color: #87CEFA;
  border-radius:20px;
  padding:20px;
}

.container-informacion-adicional-vistaUsuario{
  margin-top: 200px;
}

.container-botones-abajo-vistaUsuario{
  margin-top: 200px;
}
.container-primero-vistaUsuario{
  margin-top: 50px;
}

.col-boton-abajo-vistaUsuario{
  background-color: #87CEFA;
  border-radius:20px;
  padding:20px;
}

.col-boton-abajo-vistaUsuario:hover{
  background-color: #4169E1;
  color:#FFFFFF;
  transform: scale(1.05);
  
}


/*ofertas guardadas----------------------*/

.carta-oferta{
  background-color: #87CEFA;
  border-radius:30px;
}

.carta-oferta-arriba{
  background-color: #FFFFFF;
  border-radius:30px;
  width:90%;
  padding:20px;
  margin-top:10px;
}

.carta-oferta-abajo{
  width:90%;
}

.icono-cartaOferta{
  font-size:50px;
}

.icono-cartaUsuario{
  font-size:50px;
}

.carta-oferta:hover{
  background-color: #4169E1;

  transform: scale(1.05);
}


.carta-usuario{
  background-color: #87CEFA;
  border-radius:30px;
  padding:20px;
}

.carta-usuario-interior{
  background-color: #FFFFFF;
  border-radius:30px;
  
}

.row-buscador-campos{
  background-color: #87CEFA;
  padding:20px;
  border-radius:30px;
}

.div-exterior-detalle-oferta{
  background-color: #87CEFA;
}

.div-descripcion-detalleOferta{
  background-color: #FFFFFF;
  border-radius:20px;
  padding:20px;
}
